// Breakpoints
$breakpoints: (
  xs: 375px,
  s: 576px,
  m: 768px,
  l: 900px,
  xl: 1200px,
  xxl: 1500px,
);

// Colors
$txt-gray: #bfbfbf;
$bg-color: #fff8ee;
$main-btn: #935fa7;
$breath-btn: #00d3d3;
$stop-btn: #ce0000;
$side-color: #9c528b;

// Animations
@keyframes slide-bar {
  100% {
    transform: translateX(0);
  }
}
